<div>
    <div class="home-board">
        <img style="width:100%;" src="../../assets/boards/board2.png">
        <div class="countdown-container">
            <b>Do svatby zbývá: </b><br> {{wedCountdown.days}} dní<br> {{wedCountdown.hours}} hodin<br> {{wedCountdown.minutes}} minut <br>{{wedCountdown.seconds}} vteřin </div>
    </div>
</div>

<!-- <img style="
margin-left: auto;
margin-right: auto;
max-width: 80%;
max-height: 80%;
overflow:auto;
display: block;" src="../../assets/reconstruction/reconstruction_koci.png"> -->